extends ../layout

block content
    .container(style="margin-bottom: 80px;")
        .row
            .col-md-7
                dl.dl-horizontal
                    dt #{movie.title}
                    dd #{movie.summary}

            .col-md-7
                .panel.panel-default
                    .panel-heading 评论区
                    .panel-body
                        ul.media-list
                            each item in comment
                                li.media
                                    .pull-left
                                        a.comment(href="#comments", data-commentId="#{item._id}", data-toId="#{item.from._id}")
                                            img.media-object(src="", alt="头像", style="width: 64px; height: 64px;")
                                    .media-body
                                        h4.media-heading #{item.from.name}
                                        p #{item.content}
                                        if item.reply && item.reply > 0
                                            each reply in item.reply
                                                .media
                                                    .pull-left
                                                        a.comment(href="#comments", data-commentId="#{item._id}", data-toId="#{reply.from._id}")
                                                            img.media-object(src="", alt="头像", style="width: 64px; height: 64px;")
                                                    .media-body
                                                        h4.media-heading #{reply.from.name}
                                                        p #{reply.content}
                                    hr
                #comment
                    form#commentForm(method="POST", action="/user/comment")
                        input(type="hidden", name="movie", value="#{movie._id}")
                        input(type="hidden", name="from", value="#{user._id}")
                        .form-group
                            textarea.form-control(name="content", row="5")
                        input.btn.btn-success(type="submit", value="提交")

block script
    script(src="/script/detail.js")