extends ../layout

block content
    .container(style="margin-bottom: 80px;")
        .row
            .col-md-7
                dl.dl-horizontal
                    dt #{movie.title}
                    dd #{movie.summary}

            .col-md-7
                .panel.panel-default
                    .panel-heading 评论区
                    .panel-body
                        ul.media-list
                        each item in comment
                            li.media
                                .pull-left
                                    img.media-object(src="", alt="头像", style="width: 64px; height: 64px;")
                                .media-body
                                    h4.media-heading #{item.from}
                                    p #{item.content}
                                hr
                form(method="POST", action="/user/comment")
                    input(type="hidden", name="movie", value="#{movie._id}")
                    input(type="hidden", name="from", value="#{user._id}")
                    .form-group
                        textarea.form-control(name="content", row="5")
                    input.btn.btn-success(type="submit", value="提交")